@if (toastr$ | async; as toastr) {
  @if (toastr.message) {
    <div class="main">
      <div class="toastr d-flex">
        @if (toastr.type === 'error') {
          <img src="assets\images\failed_toastr.png" alt="" />
        }
        @if (toastr.type === 'success') {
          <img src="assets\images\success_toastr.svg" alt="" />
        }
        <div class="paragraph">
          {{ toastr.message }}
        </div>
        <span (click)="onClose()" class="material-symbols-outlined"> close </span>
      </div>
      <div
        class="reader"
        [ngStyle]="{
          'background-color': toastr.type === 'error' ? '#F04438' : '#12B76A',
        }"
      ></div>
    </div>
  }
}
